<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="7.7.1" targetFramework="net45" />
  <package id="log4net" version="1.2.11" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="ncalc" version="1.3.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="W3.Library.Framework" version="2014.28.89" targetFramework="net45" />
</packages>